{
  "homeserver": "https://matrix.qqs.tw",
  "user_id": "@lullap:xxxxx.org",
  "password": "xxxxxxxxxxxxxxxxxx",
  "device_id": "ECYEOKVPLG",
  "room_id": "!FYCmBSkCRUNvZDBaDQ:matrix.qqs.tw",
  "api_key": "xxxxxxxxxxxxxxxxxxxxxxxx",
  "bing_api_endpoint": "http://api:3000/conversation",
  "jailbreakEnabled": true,
  "access_token": "xxxxxxx",
  "bard_token": "xxxxxxx",
  "bing_auth_cookie": "xxxxxxxxxxx",
  "markdown_formatted": true,
  "import_keys_path": "element-keys.txt",
  "import_keys_password": "xxxxxxxxx"
}
