{
    "homeserver": "https://matrix-client.matrix.org",
    "user_id": "@lullap:xxxxx.org",
    "password": "xxxxxxxxxxxxxxxxxx",
    "access_token": "xxxxxxxxxxxxxx",
    "device_id": "MatrixChatGPTBot",
    "room_id": "!xxxxxxxxxxxxxxxxxxxxxx:xxxxx.org",
    "import_keys_path": "element-keys.txt",
    "import_keys_password": "xxxxxxxxxxxxxxxxxxxx",
    "openai_api_key": "xxxxxxxxxxxxxxxxxxxxxxxx",
    "gpt_api_endpoint": "https://api.openai.com/v1/chat/completions",
    "gpt_model": "gpt-3.5-turbo",
    "max_tokens": 4000,
    "top_p": 1.0,
    "presence_penalty": 0.0,
    "frequency_penalty": 0.0,
    "reply_count": 1,
    "temperature": 0.8,
    "system_prompt": "You are ChatGPT,  a large language model trained by OpenAI. Respond conversationally",
    "lc_admin": ["@admin:xxxxx.org"],
    "image_generation_endpoint": "http://localai:8080/v1/images/generations",
    "image_generation_backend": "localai",
    "image_generation_size": "512x512",
    "sdwui_steps": 20,
    "sdwui_sampler_name": "Euler a",
    "sdwui_cfg_scale": 7,
    "image_format": "webp",
    "gpt_vision_api_endpoint": "https://api.openai.com/v1/chat/completions",
    "gpt_vision_model": "gpt-4-vision-preview",
    "timeout": 120.0
}
